<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body onload="checkCookie()">

    <form id="app0" action="/users/query" method="get">
        <el-button native-type="submit" @click="allStu">查询全部学生</el-button>
    </form>

    <form id="app1" action="/users/querystudent" method="get">
        <p>
            <el-input name="name" v-model="input" placeholder="请输入查询姓名"></el-input>
            <el-button native-type="submit" @click="seach">查询学生</el-button>
        </p>
    </form>

    <form id="app2" action="/users/queryStudentThroughNumber" method="get">
        <el-input name="num" v-model="input" placeholder="请输入查询学号"></el-input>
        <el-button native-type="submit" @click="seach">查询学生</el-button>
    </form>

    <form id="app3" action="/users/insert" method="get">
        <el-input name="name" v-model="input1" placeholder="请输入插入姓名"></el-input>
        <el-input name="studentnumber" v-model="input2" placeholder="请输入插入学号"></el-input>
        <el-button native-type="submit" @click="insert">插入学生</el-button>
    </form>

    <form id="app4" action="/users/update" method="get">
        <el-input name="id" v-model="input1" placeholder="请输入插入ID"></el-input>
        <el-input name="name" v-model="input2" placeholder="请输入插入姓名"></el-input>
        <el-input name="studentnumber" v-model="input3" placeholder="请输入插入学号"></el-input>
        <el-button native-type="submit" @click="update">插入学生</el-button>
    </form>
    <form id="app6" action="/users/delete" method="get">
        <el-input name="id" v-model="input" placeholder="请输入删除学号"></el-input>
        <el-button native-type="submit" @click="delete1">删除学生</el-button>
    </form>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</script>
<script>
    let app0 = new Vue({
        el: "#app0",
        data: {
            input: ''
        },
        methods: {
            allStu: function(event) {
                return true;
            }
        }
    })
    let app1 = new Vue({
        el: "#app1",
        data: {
            input: ''
        },
        methods: {
            seach: function(event) {
                return true;
            }
        }
    })
    let app2 = new Vue({
        el: "#app2",
        data: {
            input: ''
        },
        methods: {
            seach: function(event) {
                return true;
            }
        }
    })
    let app3 = new Vue({
        el: "#app3",
        data: {
            input1: '',
            input2: ''
        },
        methods: {
            insert: function(event) {
                return true;
            }
        }
    })
    let app4 = new Vue({
        el: "#app4",
        data: {
            input1: '',
            input2: '',
            input3: ''
        },
        methods: {
            update: function(event) {
                return true;
            }
        }
    })
    let app5 = new Vue({
        el: "#app6",
        data: {
            input: ''
        },
        methods: {
            delete1: function(event) {
                return true;
            }
        }
    })
</script>

<style scoped>
    form {
        width: 25%;
    }
</style>

</html>